.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  color: #fff;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #000;

  &.active {
      color: #4c9be8;
      font-weight: 600;
  }
}

.logo {
  cursor: pointer;

  &:focus {
      outline: none;
  }
}